%h2
  %em= "#{@species.scientific_name}"
  
%p
  = link_to("edit", edit_admin_species_path(@species), :class => "action")
  = link_to("delete", admin_species_path(@species), :method => 'delete', :confirm => "Are you sure?", :class => "action")

%h3 Taxonomy
= render(:partial => 'shared/species/attributes/taxonomy', :locals => { :taxonomy => @species.taxonomy })
  
%h3 Abundance
%ul
  = render(:partial => 'shared/species/attributes/abundance', :collection => @species.abundances)

%h3 Character Traits
%ul
  = render(:partial => 'shared/species/attributes/character', :collection => @species.characters)
  
%h3 Common Names
%ul
  = render(:partial => 'shared/species/attributes/common_name', :collection => @species.common_names)


%h3 Distinguishing Characters
%ul= render(:partial => 'shared/species/attributes/distinguishing_characters', :collection => @species.distinguishing_characters)

%h3 Distribution
%ul
  = render(:partial => 'shared/species/attributes/distribution', :collection => @species.distribution)

%h3 Habitat
%ul
  = render(:partial => 'shared/species/attributes/habitat', :collection => @species.habitats)

%h3 Images
%ul
  = render(:partial => 'shared/species/attributes/image', :collection => @species.images)

%h3 Display Image
- if @display_image
  %img{:src => @display_image.image, :height => "100px"}
- else
  No display image chosen
  
%h3 Natural History
%ul
  = render(:partial => 'shared/species/attributes/natural_history', :collection => @species.natural_histories)

%h3 Similar Species
%ul
  = render(:partial => 'shared/species/attributes/similar_species', :collection => @species.similar_species)

%h3 Synonym
%ul
  = render(:partial => 'shared/species/attributes/synonym', :collection => @species.synonyms)
  
%h3 References
%ul
  = render(:partial => 'shared/species/attributes/references', :collection => @species.references)