%ul
  %li
    = f.label(:kingdom)
    = f.text_field(:kingdom, :size => "25")
  %li
    = f.label(:phylum)
    = f.text_field(:phylum, :size => "25")

  %li
    = f.label(:order)
    = f.text_field(:order, :size => "25")

  %li
    = f.label(:klass, "Class")
    = f.text_field(:klass, :size => "25")

  %li
    = f.label(:family)
    = f.text_field(:family, :size => "25")