%table
  %tbody
    %tr
      %td= f.label(:domain)
      %td= f.text_field(:domain, :size => "25")
    %tr
      %td= f.label(:kingdom)
      %td= f.text_field(:kingdom, :size => "25")
    %tr
      %td= f.label(:subkingdom)
      %td= f.text_field(:subkingdom, :size => "25")
    %tr
      %td= f.label(:superphylum, "Superphylum/Superdivision")
      %td= f.text_field(:superphylum, :size => "25")
    %tr
      %td= f.label(:phylum, "Phylum/Division")
      %td= f.text_field(:phylum, :size => "25")
    %tr
      %td= f.label(:subphylum, "Subphylum/Subdivision")
      %td= f.text_field(:subphylum, :size => "25")
    %tr
      %td= f.label(:superclass)
      %td= f.text_field(:superclass, :size => "25")
    %tr
      %td= f.label(:klass, "Class")
      %td= f.text_field(:klass, :size => "25")
    %tr
      %td= f.label(:subclass)
      %td= f.text_field(:subclass, :size => "25")
    %tr
      %td= f.label(:superorder)
      %td= f.text_field(:superorder, :size => "25")
    %tr
      %td= f.label(:order)
      %td= f.text_field(:order, :size => "25")
    %tr
      %td= f.label(:suborder)
      %td= f.text_field(:suborder, :size => "25")
    %tr
      %td= f.label(:superfamily)
      %td= f.text_field(:superfamily, :size => "25")
    %tr
      %td= f.label(:familiy)
      %td= f.text_field(:family, :size => "25")
    %tr
      %td= f.label(:subfamily)
      %td= f.text_field(:subfamily, :size => "25")
    %tr
      %td= f.label(:genus)
      %td= f.text_field(:genus, :size => "25")
    %tr
      %td= f.label(:species_name, "Species")
      %td= f.text_field(:species_name, :size => "25")
    %tr
      %td= f.label(:subspecies)
      %td= f.text_field(:subspecies, :size => "25")