= f.label(:name)
= f.text_field(:name, :size => "25")

= f.label(:value)
= f.text_field(:value, :size => 10)

= f.label(:unit)
= f.text_field(:unit, :size => 10)
    
- unless f.object.new_record?
  = f.check_box('_delete')
  = f.label('_delete', 'Remove')
%br