= javascript_include_tag("jquery.autocomplete")
= javascript_include_tag("similar_species")

- form_for(:species, @species, :url => url, :html => {:method => method, :multipart => true}) do |f|
  = f.error_messages
  
  %div.group
    %h3 General Attributes
    = f.label(:scientific_name)
    = f.text_field(:scientific_name)
  
  %div.group
    %h3 Taxonomy
    - f.fields_for(:taxonomy) do |t|
      = render(:partial => 'species/forms/taxonomy', :locals => { :f => t})    
    
    = subform(f, :abundances)
    = subform(f, :characters)
    = subform(f, :common_names)
    = subform(f, :distinguishing_characters)
    = subform(f, :distribution)
    = subform(f, :habitats)
    = subform(f, :images)
    = subform(f, :natural_histories)
    = subform(f, :similar_species)
    = subform(f, :synonyms)
    
  = f.submit