- form_for(:species, @species, :url => action, :method => 'post') do |f|
  = f.error_messages
  
  - if put 
    %input{:name => "_method", :type => "hidden", :value => "put"}
  
  %h3 General Attributes
  = f.label(:scientific_name)
  = f.text_field(:scientific_name)
  %br
  
  %div.group
    %h3 Character Traits
    = add_child_link("Add a Character Trait", f, :characters)
    %br
    
    %ul#characters
      - f.fields_for(:characters) do |characters_form|
        %li= render(:partial => 'character', :locals => { :f => characters_form})
    

  = f.submit "Submit"