- form_for(:species, @species, :url => url, :html => {:method => method, :multipart => true}) do |f|
  = f.error_messages
  
  %div.group
    %h3 General Attributes
    = f.label(:scientific_name)
    = f.text_field(:scientific_name)
  
  - [:abundances, :characters, :common_names, :distinguishing_characters, :habitats, :images, :natural_histories, :similar_species, :synonyms].each do |model|
    = render(:partial => 'subform', :locals => {:model => model, :f => f, :partial => "species/forms/#{model.to_s.singularize}"})
  
  = f.submit "Submit"