- form_for(:species, @species, :url => url, :html => {:method => method, :multipart => true}) do |f|
  = f.error_messages
  
  %div.group
    %h3 Taxonomy
    - f.fields_for(:taxonomy) do |subform|
      = render(:partial => 'species/forms/taxonomy', :locals => { :f => subform})    

  = subform(f, :abundances)
  = subform(f, :characters)
  = subform(f, :common_names)
  = subform(f, :distinguishing_characters)
  = subform(f, :distribution)
  = subform(f, :habitats)
  = subform(f, :images)
  
  %h4 Display Image
  %ul
    - @species.images.each do |image|
      %li
        = f.label(:display_image, "<img src=\"#{image.image}\" height=\"100px\" />")
        = f.radio_button(:display_image, image.id)
          
  = subform(f, :natural_histories)
  = subform(f, :similar_species)
  = subform(f, :synonyms)
  = subform(f, :references)
    
  = f.submit

= javascript_include_tag "autocomplete"
= javascript_include_tag "species_form"