%li
  = "Domain: `#{taxonomy.domain}`, "
  = "Kingdom: `#{taxonomy.kingdom}`, "
  = "Subkingdom: `#{taxonomy.subkingdom}`, "
  = "Superphylum/Superdivision: `#{taxonomy.superphylum}`, "
  = "Phylum/Division: `#{taxonomy.phylum}`, "
  = "Subphylum/Subdivision: `#{taxonomy.subphylum}`, "
  = "Superclass: `#{taxonomy.superclass}`"
  = "Class: `#{taxonomy.klass}`"
  = "Subclass: `#{taxonomy.subclass}`"
  = "Superorder: `#{taxonomy.superorder}`, "
  = "Order: `#{taxonomy.order}`, "
  = "Suborder: `#{taxonomy.suborder}`, "
  = "Superfamily: `#{taxonomy.superfamily}`, "
  = "Family: `#{taxonomy.family}`, "
  = "Subfamily: `#{taxonomy.subfamily}`, "
  = "Genus: `#{taxonomy.genus}`, "
  = "Species: `#{taxonomy.species_name}`, "
  = "Subspecies: `#{taxonomy.subspecies}`"