= f.label(:name)
= f.text_field(:name, :size => "25")

= f.label(:morph)
= f.text_field(:morph, :size => 15)

= f.label(:value)
= f.text_field(:value, :size => 10)

= f.label(:unit)
= f.text_field(:unit, :size => 10)
%input{:type => 'button', :class => "action remove-subform", :value => 'Remove'} 