!!!
%html
  %head
    %title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jqueryui'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = javascript_include_tag 'autocomplete'
    = csrf_meta_tag
  %body
    #wrap
      #header
        %h1
          %a{:href => "/"} Marine Field Guides
      #search
        = render :partial => 'shared/quicksearch'
      #content= yield
      #footer
        %ul
          %li
            %a{:href => '/about'} About
          %li
            %a{:href => '/legal'} Legal
          %li
            %a{:href => '/contact'} Contact