!!!
%html
  %head
    %title
    = stylesheet_link_tag("application")
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "jquery-ui-1.8rc3.custom.min"
    = javascript_include_tag "rails"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #wrap
      #header
        #title
          %h1
            %a{:href => "/"} Field Guides
        #navigation
          %label{:for => "search"} Search
          %input#search{:type => "text"}
        .clear
      #sidebar
        %h2 Browse
        %ul
          %li Animalia
          %li Plantae
          %li Fungi
          %li Protista
          %li Eubacteria
          %li Archaebacteria
          
      #content= yield
      .clear
      #footer
        Footer